* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url('skyy.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;

}

.highway {
  height: 200px;
  width: 500%;
  display: block;
  background-image: url('road1.jpg');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-repeat: repeat-x;
  animation: highway 5s linear infinite;
}

@keyframes highway {

  100%{
    transform: translateX(-3400px);
  }
}

.city {
  height: 250px;
  width: 500%;
  background-image: url('city.png');
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 20s linear infinite;
}

@keyframes city
{

  100%{
    transform: translateX(-3400px);
  }
}

.car {
  width: 100px;
  left: 30%;
  bottom: 100px;
  transform: rotateX(-50);
  position: absolute;
  z-index: 2;
}

.car img {
  width: 500%;
  animation: car 1s linear infinite;
}

@keyframes car
{

  100%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(-10px);
  }
  0%{
    transform: translateY(-10px);
  }
}


.wheel {
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.wheel img {
  width: 72px;
  height: 72px;
  animation: wheel 2s linear infinite;
}

.back-wheel {
  left: -433px;
  bottom: -7000px;
  position: absolute;
}

.front-wheel {
  left: -138px;
  bottom: -661px;
  position: absolute;
}
@keyframes wheel
{
  100%{
    transform: rotate(360deg);
  }

}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 270px) and (max-device-width : 321px) {
  .back-wheel {
    left: -119px;
    bottom: -954px;
    position: absolute;
  }

  .front-wheel {
    left: 175px;
    bottom: -948px;
    position: absolute;
  }
  @keyframes wheel
  {
    100%{
      transform: rotate(360deg);
    }

  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 375px) {
  .back-wheel {
    left: -117px;
    bottom: -693px;
    position: absolute;
  }

  .front-wheel {
    left: 174px;
    bottom: -689px;
    position: absolute;
  }


  }



/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 425px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .back-wheel {
    left: -117px;
    bottom: -341px;
    position: absolute;
  }

  .front-wheel {
    left: 174px;
    bottom: -337px;
    position: absolute;
  }
  @keyframes wheel
  {
    100%{
      transform: rotate(360deg);
    }

  }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-device-width : 1024px) and (max-device-width: 1440px) {
  .back-wheel {
    left: -124px;
    bottom: -247px;
    position: absolute;
  }

  .front-wheel {
    left: 166px;
    bottom: -244px;
    position: absolute;
  }


}

@media only screen  and (min-device-width : 1440px) and (max-device-width: 2000px) {
  .back-wheel {
    left: -210px;
    bottom: -334px;
    position: absolute;
  }

  .front-wheel {
    left: 87px;
    bottom: -327px;
    position: absolute;
  }


}


/* @media only screen  and (min-device-width : 2561px) and (max-device-width: 3000px;) {
  .back-wheel {
    left: -124px;
    bottom: -1129px;
    position: absolute;
  }

  .front-wheel {
    left: 166px;
    bottom: -1128px;
    position: absolute;
  }


} */
